extends layout


block content
    
    
    |    <div class="col s12 m12">
    |       <div class="card">    
    |           <div class="card-content">
    |               <div class="row">
    |                   <div class="col s3 m3">
    |                       <p class="flow-text">Filament Diameter</p>
    |                   </div>
    |                   <div class="col s3 m3">
    |                       <p id="ActualDiameter" class="flow-text"></p>
    |                   </div>
    |                   <div class="col s2 m2">
    |                       <p class="flow-text">Duration</p>
    |                   </div>
    |                   <div class="col s3 m3">
    |                       <p id="Duration" class="flow-text"></p>
    |                   </div>
    |               </div>
    |               <div class="row">
    |                   <div class="col s3 m3">
    |                       <p class="flow-text">Highest Value</p>
    |                   </div>
    |                   <div class="col s3 m3">
    |                       <p id="HighestValue" class="flow-text"></p>
    |                   </div>
    |               </div>
    |               <div class="row">
    |                   <div class="col s3 m3">
    |                       <p class="flow-text">Lowest Value</p>
    |                   </div>
    |                   <div class="col s3 m3">
    |                       <p id="LowestValue" class="flow-text"></p>
    |                   </div>
    |               </div>
    |           </div>
    |       </div>
    |   </div>

    |   <div class="col s12 m12">
    |       <div id="plotDiv">
    |
    |       </div>
    |       
    |   </div>
    
    
