doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")
    script(src="javascripts/jquery-1.12.4.min.js")
    script(src="javascripts/jquery.signalr-2.2.0.min.js")
    script(src="javascripts/connector.js")
    
  

.navbar-fixed
    nav
        .nav-wrapper(style='background-color:#08ae00')
            a.brand-logo(href='#!') Digital Indicator Webclient
            ul.right.hide-on-med-and-down





body
    block content